<ion-view title="Herzdruckmassage" ng-controller="CompressionController">
  <ion-content>

    <ion-slide-box slide-interval="2500" class="compression-slide-box" auto-play="true" does-continue="true">
      <ion-slide>
        <img class="image-background" src="img/compression-bg.png">
        <img class="image-foreground" src="img/compression-1.png">
        <div class="image-caption">Herzdruckmassage</div>
      </ion-slide>

      <ion-slide>
        <img class="image-background" src="img/compression-bg.png">
        <img class="image-foreground" src="img/compression-2.png">
        <div class="image-caption">Wo drücken?</div>
      </ion-slide>

      <ion-slide>
        <img class="image-background" src="img/compression-bg.png">
        <img class="image-foreground" src="img/compression-3.png">
        <div class="image-caption">Wie drücken?</div>
      </ion-slide>

    </ion-slide-box>



  </ion-content>

  <div class="button-footer">
      <a class="button button-positive ion-checkmark single" href="#/compression-guide"> Massage starten!</a>
  </div>
</ion-view>
