<ion-view title="Herzdruckmassage" ng-controller="CompressionGuideController">
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-home" href="#/"></a>
  </ion-nav-buttons>
  <ion-content>
    <svg viewBox="0 0 200 300" style="width: 100%;">
      <circle cx="100"
              cy="130"
              r="{{radius}}"
              id="circle"
              fill="black"
              fill-opacity="{{opacity}}"
      ></circle>
    </svg>
    <audio controls id="audio">
      <source src="sound/bass.mp3" type="audio/mp3">
      <source src="sound/bass.ogg" type="audio/ogg">
    </audio>

    <div class="countdown-timer">{{countdownMin + ":" + countdownSec}}</div>
  </ion-content>
  <div class="button-footer">
      <a class="button button-xlarge button-positive ion-checkmark single" href="#/"> Danke!</a>
    </div>
</ion-view>
