<ion-view title="Herzdruckmassage" ng-controller="CompressionController">
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-home" href="#/"></a>
  </ion-nav-buttons>
  <ion-content>

    <ion-slide-box slide-interval="2500" class="compression-slide-box" auto-play="true" does-continue="true">
      <ion-slide>
        <div class="image-wrapper xtra-padding">
          <img src="img/compression-1.png">
        </div>
        <div class="instruction-small">
          <div>
            Arme durchstrecken.
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="image-wrapper no-padding">
          <div class="wrapper-caption">
            Wo drücken?
          </div>
          <img src="img/compression-2.png">
        </div>
        <div class="instruction-small">
          <div>
            Handballen auf der Markierung auflegen.
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="image-wrapper no-padding">
          <div class="wrapper-caption">
            Wie drücken?
          </div>
          <img src="img/compression-3.png">
        </div>
        <div class="instruction-small">
          <div>
            Den Brustkorb kräftig eindrücken.
          </div>
        </div>
      </ion-slide>

    </ion-slide-box>

  </ion-content>

  <div class="button-footer">
      <a class="button button-xlarge button-positive ion-checkmark single" href="#/compression-guide"> Massage starten!</a>
  </div>
</ion-view>
