<ion-modal-view>
  <ion-header-bar class="bar-fr">
    <h1 class="title">Info</h1>
    <button class="button button-icon ion-close" ng-click="closeModal()"></button>
  </ion-header-bar>

  <ion-content class="about-container padding">
    <div>
      <div class="padding">
        <img src="img/brand-light.png" alt="notfallhelfer brand logo">
      </div>
      <ul>
        <li>Maksim <small><a href="https://twitter.com/maks_im88">@maks_im88</a></small></li>
        <li>Christian <small><a href="https://twitter.com/_dotch">@_dotch</a></small></li>
        <li>Patrick <small><a href="https://twitter.com/patbuergin">@patbuergin</a></small></li>
        <li>Henrik <small><a href="https://twitter.com/keinnname">@keinnname</a></small></li>
      </ul>
      <div class="description">
        <p>Klare Anweisungen für Ersthelfer - Life-Support nach ERC-Guidelines.</p>
        <a href="http://first-responder.github.io">first-responder.github.io</a>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
