<ion-view title="Stabile Seitenlage" ng-controller="LateralController">
  <ion-content>

    <ion-slide-box slide-interval="2500" class="compression-slide-box" auto-play="true" does-continue="true">
      <ion-slide>
        <div class="image-wrapper xtra-padding">
          <img src="img/lateral-1.png">
        </div>
      </ion-slide>

      <ion-slide>
        <div class="image-wrapper xtra-padding">
          <img src="img/lateral-2.png">
        </div>
      </ion-slide>

      <ion-slide>
        <div class="image-wrapper xtra-padding">
          <img src="img/lateral-3.png">
        </div>
      </ion-slide>

      <ion-slide>
        <div class="image-wrapper xtra-padding">
          <img src="img/lateral-4.png">
        </div>
      </ion-slide>

    </ion-slide-box>
    
  </ion-content>
  <div class="button-footer">
      <a class="button button-xlarge button-positive ion-checkmark single" href="#/unconscious"> Fertig</a>
    </div>
</ion-view>
