<ion-view title="Wache Person">
  <ion-content>

  <div class="list card">
      <div class="item item-icon-left">
        <i class="icon ion-android-hand"></i>
        Ruhe bewahren
      </div>

      <div class="item item-icon-left">
        <i class="icon ion-alert-circled"></i>
        Nach Beschwerden fragen
      </div>

      <div class="item item-icon-left">
        <i class="icon ion-help-buoy"></i>
        Hilfe anbeten
      </div>

      <div class="item item-icon-left">
        <i class="icon ion-medkit"></i>
        Ggf. Notruf absetzen
      </div>

    </div>
    
  </ion-content>
  <div class="button-footer">
      <a class="button button-xlarge button-positive ion-checkmark single" href="#/"> Fertig</a>
    </div>
</ion-view>
