<ion-view title="Bewusstlose Person">
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-home" href="#/"></a>
  </ion-nav-buttons>
  <ion-content class="padding">
    <h4>Rufen Sie einen Krankenwagen</h4>

    <div class="row padding-bottom">
      <div class="col">
        <a class="button button-balanced button-large button-full ion-ios7-telephone" href="tel:112"> 112</a>
      </div>
    </div>

    <div class="list card">
      <div class="item item-icon-left">
        <i class="icon ion-eye"></i>
        Person überwachen
      </div>

      <div class="item item-icon-left">
        <i class="icon ion-search"></i>
        Atmung regelmäßig überprüfen
      </div>

      <div class="item item-icon-left">
        <i class="icon ion-medkit"></i>
        Auf Hilfe warten
      </div>
    </div>

  </ion-content>
  <div class="button-footer">
      <a class="button button-xlarge button-positive ion-checkmark single" href="#/compression"> Atmung setzt aus</a>
    </div>
</ion-view>
