body, .pane {
  background-color: #454545;
  color: #fff;
}

.bar .button.ion-home:before,
.bar .button.ion-chevron-left:before,
.bar .button.ion-information:before, {
  font-size: 24px;
  line-height: 30px;
}

.bar-fr {
  background-color: #6f6f6f;
  color: #fff;
  font-weight: bold;
  border-bottom: 4px solid #454545;
  background-image: none;
  h1 {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
  }
  .button {
    color: #fff;
  }
}
.button-footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  text-transform: uppercase;

  a {
    border-top-width: 6px;
    margin: 0;
    width: 50%;
    border-radius: 0;
  }

  a::before {
    display: block;
    font-size: 38px;
    top: 20px;
    position: relative;
  }

  a.single {
    width: 100%;
  }
}

h1,h2,h3,h4,h5,h6 {
  color: white;
}

h4 {
  margin-top: 24px;
  text-align: center;
}

.card {
  border-bottom: 6px solid #ccc;
  border-radius: 0;
  padding: 6px 10px;

  .row {
    border-bottom: 2px solid #e2e2e2;
    padding-top: 10px;

    div.col-25 {
      font-weight: bold;
    }

    div.col-75 {
      ul {
        padding-left: 16px;

        li {
          list-style-type: circle;
        }
      }
    }
  }

  .row:last-child {
    border-bottom: none;
  }
}

ion-content.padding {
  padding: 10px 20px;
}

div.disclaimer-text{
  color: #6f6f6f;
  font-size: 8px;
}

.button.button-balanced {
  border-bottom-width: 6px;
  font-size: 24px;
  font-weight: 700;
  margin-left: -10px;
  margin-right: -10px;

  &::before {
    font-size: 28px;
    position: relative;
    padding-right: 3px;
    top: 2px;
  }
}

.button-xlarge{
  padding: 0 16px;
  min-width: 68px;
  min-height: 72px;
  font-size: 17px;
  font-weight: bold;
  line-height: 72px;
}

audio {
  display: none;
  }

  img{
    width:100%;
  }

  .countdown-timer{
    width:100%;
    position: absolute;
    top: 50px;
    text-align: center;
    font-size: 40px;
  }

.image-wrapper {
  background-image: url("../img/compression-bg.png");
  position: relative;
  padding-top: 40px;
  margin: 0;
  & > img {
    display: block;
  }
  &.no-padding{
    padding-top: 0;
  }
  &.xtra-padding{
    padding-top: 80px;
  }
  .wrapper-caption {
    height: 80px;
    line-height: 40px;
    background: #454545;
    text-align: center;
    line-height: 80px;
    width: 100%;
    font-size: 20px;
  }
}

.slider-pager{
  bottom: 0;
  top: 285px;
}

.card {
  color: #444;
}

.button.button-positive {
  background-color: #82C9A8;
  border-color: darken(#82C9A8, 10%);
}

.button.button-positive.active, .button.button-positive.activated{
  background-color: darken(#82C9A8, 15%);
  border-color: darken(#82C9A8, 20%);
}

.button.button-assertive{
  background-color: #F15A24;
  border-color: darken(#F15A24, 10%);
}

.button.button-assertive.active, .button.button-assertive.activated{
  background-color: darken(#F15A24, 15%);
  border-color: darken(#F15A24, 20%);
}

.instruction {
  padding: 48px 24px;
  font-size: 24px;
  border-top: 3px solid #6f6f6f;
}

.instruction-small{
  padding: 24px;
  font-size: 20px;
  border-top: 3px solid #6f6f6f;

}
