.button-footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  a {
    margin: 0;
    width: 50%;
    border-radius: 0;
  }
  a.single {
    width: 100%;
  }
}

audio {
  display: none;
  }

  img{
    width:100%;
  }

  .countdown-timer{
    width:100%;
    text-align: center;
    font-size: 40px;
  }

.compression-slide-box{
  width: 100%;
  height: 400px;
  height: 350px;
  img{
    padding-top: 50px;
    width:100%;
  }
  .image-background{
    z-index: 0;
    position: absolute;
  }
  .image-foreground{
    z-index: 1;
    position: absolute;
  }
  .image-caption{
    z-index: 2;
    font-size: 25px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    padding-top: 20px;
  }
}
