<ion-view title="Atmung">
  <ion-content class="padding">

  <h4>Atmet die Person?</h4>

    <div class="list card">
      <div class="item item-icon-left">
        <i class="icon ion-volume-medium"></i>
        Hören
      </div>

      <div class="item item-icon-left">
        <i class="icon ion-android-hand"></i>
        Fühlen
      </div>

      <div class="item item-icon-left">
        <i class="icon ion-eye"></i>
        Sehen
      </div>
    </div>


  </ion-content>
  <div class="button-footer">
    <a class="button button-xlarge button-assertive ion-close" href="#/sos"> Nein</a><a class="button button-xlarge button-positive ion-checkmark" href="#"> Ja</a>
  </div>
</ion-view>
