<ion-view hide-back-button="true" title="Ansprechbar" ng-controller="ConsciousnessController">
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-information" ng-click="openModal()"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="image-wrapper">
      <img src="img/consciousness.png" alt="shake person">
    </div>
    <div class="instruction padding">
      <div>
        Ist die Person ansprechbar?
      </div>
    </div>
  </ion-content>

  <div class="button-footer">
    <a class="button button-xlarge button-assertive ion-close" href="#/shake"> Nein</a><a class="button button-xlarge button-positive ion-checkmark" href="#/responsive"> Ja</a>
  </div>
</ion-view>
