<ion-view title="Stabile Seitenlage" ng-controller="LateralController">
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-home" href="#/"></a>
  </ion-nav-buttons>
  <ion-content>

    <ion-slide-box slide-interval="2500" class="compression-slide-box" auto-play="true" does-continue="true">
      <ion-slide>
        <div class="image-wrapper xtra-padding">
          <img src="img/lateral-1.png">
        </div>
        <div class="instruction padding">
          <div>
            Person liegt auf dem Rücken.
            Rechten Arm anwinkeln.
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="image-wrapper xtra-padding">
          <img src="img/lateral-2.png">
        </div>
        <div class="instruction padding">
          <div>
            Linken Arm auf rechten Schulter legen.
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="image-wrapper xtra-padding">
          <img src="img/lateral-3.png">
        </div>
        <div class="instruction padding">
          <div>
            Linkes Bein anwinkeln.
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="image-wrapper xtra-padding">
          <img src="img/lateral-4.png">
        </div>
        <div class="instruction padding">
          <div>
            Am Knie und Schulter zu sich herziehen.
            Kopf überstrecken.
          </div>
        </div>
      </ion-slid
      </ion-slide>

    </ion-slide-box>

  </ion-content>
  <div class="button-footer">
      <a class="button button-xlarge button-positive ion-checkmark single" href="#/unconscious"> Fertig</a>
    </div>
</ion-view>
